@charset "utf-8";
@import url("nomalize_v2_0_1.css");

/* CSS Document */
/* reset margin padding */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
	text-align: left;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}

#container {
	width: 740px;
	margin: auto;
	background-image: url(../img_2013/head_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFF;
}

#head {}

#main {
	width: 100%;
	height: 477px;
	background-image: url(../img_2013/main_bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

#foot {}

#counter { height: 100px; }

#navi {
	width: 640px;
	margin: auto;
	padding: 0;
	list-style-type: none;
}

#navi li {
	width: 33%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
}

#navi li a {
	width: auto;
	margin: 10px;
	padding: 0.5em;
	display: block;
	background: #060;
	border: 2px outset #060;
	
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	line-height: 120%;
	text-decoration: none;
}

#navi li a:hover {
	background: #030;
	border: 2px inset #030;
}

#links {
	background-color: #4F7137;
	padding-top: 5px;
}

.clearfix:after {	/* IE8, ModanBrowser */
	content:"";
	display:block;
	clear:both;
}

.clearfix {width:100%;} /* clearfix IE 6, 7 */

.center { text-align: center; }

.marginTop10 { margin-top: 10px;}

.terop{
	margin-left: 10px;
	background-color: #FFF;
	border-style: solid;
	border-top-color: #3FC;
	border-right-color: #3FC;
	border-bottom-color: #3FC;
	border-left-color: #3FC;
	border-top-style: solid;
} 

.marginLeft10 { margin-left: 10px;}

.menu {
	width: 700px;
	padding: 0 50px 5px 50px;
	margin: auto;
	list-style-type: none;
}
.menu li {
  /*width:20%;*/
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
.menu li a {
	width: auto;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 0 5px;
	padding: 5px 1em;
	text-decoration: none;
	display: block;
	background: #060;
	border: 2px outset #060;
}
.menu li a:hover {
  background: #030;
  border: 2px inset #030;
}
#container #main .center #head {
	color: #F00;
}
.red {
	color: #F00;
}

